<h1>Bibliotecas utilizadas</h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem linha  latitude  longitude  velocidade             dataHora
0     A29005   461 -22.86872  -43.29245           0  08-14-2022 00:45:32
1     A29019   711 -22.86838  -43.29210           0  08-14-2022 03:10:09
2     A29128   472 -22.86840  -43.29218           0  08-14-2022 05:19:31
3     A29047   209 -22.86851  -43.29121           0  08-14-2022 06:01:43
4     D13322   801 -22.88054  -43.35700           0  08-14-2022 06:16:50
...      ...   ...       ...        ...         ...                  ...
3194  B71067   457 -22.91312  -43.23565           0  08-14-2022 23:41:55
3195  B71151   247 -22.88989  -43.29221           0  08-14-2022 23:41:55
3196  A72194   410 -22.88887  -43.29344           0  08-14-2022 23:41:56
3197  B71075   457 -22.91379  -43.22771          50  08-14-2022 23:41:58
3198  A71571   100 -22.89039  -43.29426          26  08-14-2022 23:42:01

[3199 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,A29005,461,Empresa Braso Lisboa,-22.86872,-43.29245,0,2022-08-14 00:45:32,2022-08-13 21:45:32-03:00
1,A29019,711,Empresa Braso Lisboa,-22.86838,-43.29210,0,2022-08-14 03:10:09,2022-08-14 00:10:09-03:00
2,A29128,472,Empresa Braso Lisboa,-22.86840,-43.29218,0,2022-08-14 05:19:31,2022-08-14 02:19:31-03:00
3,A29047,209,Empresa Braso Lisboa,-22.86851,-43.29121,0,2022-08-14 06:01:43,2022-08-14 03:01:43-03:00
4,D13322,801,Transportes Barra Ltda,-22.88054,-43.35700,0,2022-08-14 06:16:50,2022-08-14 03:16:50-03:00
...,...,...,...,...,...,...,...,...
3191,B71067,457,Viação Verdun S/A,-22.91312,-43.23565,0,2022-08-14 23:41:55,2022-08-14 20:41:55-03:00
3192,B71151,247,Viação Verdun S/A,-22.88989,-43.29221,0,2022-08-14 23:41:55,2022-08-14 20:41:55-03:00
3193,A72194,410,Transurb S/A,-22.88887,-43.29344,0,2022-08-14 23:41:56,2022-08-14 20:41:56-03:00
3194,B71075,457,Viação Verdun S/A,-22.91379,-43.22771,50,2022-08-14 23:41:58,2022-08-14 20:41:58-03:00
3195,A71571,100,Viação Nossa Senhora das Graças Ltda,-22.89039,-43.29426,26,2022-08-14 23:42:01,2022-08-14 20:42:01-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,A29005,461,Empresa Braso Lisboa,-22.86872,-43.29245,0,21:45:32,13/08/2022
1,A29019,711,Empresa Braso Lisboa,-22.86838,-43.29210,0,00:10:09,14/08/2022
2,A29128,472,Empresa Braso Lisboa,-22.86840,-43.29218,0,02:19:31,14/08/2022
3,A29047,209,Empresa Braso Lisboa,-22.86851,-43.29121,0,03:01:43,14/08/2022
4,D13322,801,Transportes Barra Ltda,-22.88054,-43.35700,0,03:16:50,14/08/2022
...,...,...,...,...,...,...,...,...
3191,B71067,457,Viação Verdun S/A,-22.91312,-43.23565,0,20:41:55,14/08/2022
3192,B71151,247,Viação Verdun S/A,-22.88989,-43.29221,0,20:41:55,14/08/2022
3193,A72194,410,Transurb S/A,-22.88887,-43.29344,0,20:41:56,14/08/2022
3194,B71075,457,Viação Verdun S/A,-22.91379,-43.22771,50,20:41:58,14/08/2022
3195,A71571,100,Viação Nossa Senhora das Graças Ltda,-22.89039,-43.29426,26,20:42:01,14/08/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte_db'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(2).minutes.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)