<h1>Bibliotecas Utilizadas<h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem  linha  latitude  longitude  velocidade             dataHora
0     A63517    104 -22.87742  -43.25676           0  07-20-2022 01:16:53
1     D13294  SV790 -22.87583  -43.41932           0  07-20-2022 06:16:28
2     C13135    878 -22.89030  -43.35741           8  07-20-2022 06:21:56
3     D53601    847 -22.88482  -43.49768           0  07-20-2022 06:30:49
4     D13275    790 -22.86422  -43.50917          40  07-20-2022 06:32:53
...      ...    ...       ...        ...         ...                  ...
3572  A72133    410 -22.91965  -43.19428           4  07-20-2022 18:41:57
3573  A71604    409 -22.95549  -43.19809           0  07-20-2022 18:41:57
3574  B11590    362 -22.82961  -43.34351          54  07-20-2022 18:41:57
3575  B11648    363 -22.90451  -43.18944           0  07-20-2022 18:41:57
3576  B71007    457 -22.95138  -43.17519           0  07-20-2022 18:41:57

[3577 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,A63517,104,Gire Transportes Ltda,-22.87742,-43.25676,0,2022-07-20 01:16:53,2022-07-19 22:16:53-03:00
1,D13294,SV790,Transportes Barra Ltda,-22.87583,-43.41932,0,2022-07-20 06:16:28,2022-07-20 03:16:28-03:00
2,C13135,878,Transportes Barra Ltda,-22.89030,-43.35741,8,2022-07-20 06:21:56,2022-07-20 03:21:56-03:00
3,D53601,847,Transportes Campo Grande Ltda,-22.88482,-43.49768,0,2022-07-20 06:30:49,2022-07-20 03:30:49-03:00
4,D13275,790,Transportes Barra Ltda,-22.86422,-43.50917,40,2022-07-20 06:32:53,2022-07-20 03:32:53-03:00
...,...,...,...,...,...,...,...,...
3568,A72133,410,Transurb S/A,-22.91965,-43.19428,4,2022-07-20 18:41:57,2022-07-20 15:41:57-03:00
3569,A71604,409,Viação Nossa Senhora das Graças Ltda,-22.95549,-43.19809,0,2022-07-20 18:41:57,2022-07-20 15:41:57-03:00
3570,B11590,362,Viação Vila Real S/A,-22.82961,-43.34351,54,2022-07-20 18:41:57,2022-07-20 15:41:57-03:00
3571,B11648,363,Viação Vila Real S/A,-22.90451,-43.18944,0,2022-07-20 18:41:57,2022-07-20 15:41:57-03:00
3572,B71007,457,Viação Verdun S/A,-22.95138,-43.17519,0,2022-07-20 18:41:57,2022-07-20 15:41:57-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,A63517,104,Gire Transportes Ltda,-22.87742,-43.25676,0,22:16:53,19/07/2022
1,D13294,SV790,Transportes Barra Ltda,-22.87583,-43.41932,0,03:16:28,20/07/2022
2,C13135,878,Transportes Barra Ltda,-22.89030,-43.35741,8,03:21:56,20/07/2022
3,D53601,847,Transportes Campo Grande Ltda,-22.88482,-43.49768,0,03:30:49,20/07/2022
4,D13275,790,Transportes Barra Ltda,-22.86422,-43.50917,40,03:32:53,20/07/2022
...,...,...,...,...,...,...,...,...
3568,A72133,410,Transurb S/A,-22.91965,-43.19428,4,15:41:57,20/07/2022
3569,A71604,409,Viação Nossa Senhora das Graças Ltda,-22.95549,-43.19809,0,15:41:57,20/07/2022
3570,B11590,362,Viação Vila Real S/A,-22.82961,-43.34351,54,15:41:57,20/07/2022
3571,B11648,363,Viação Vila Real S/A,-22.90451,-43.18944,0,15:41:57,20/07/2022
3572,B71007,457,Viação Verdun S/A,-22.95138,-43.17519,0,15:41:57,20/07/2022

<h1>Persistindo Postgresql</h1>

In [5]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte_db'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(1800).seconds.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)

ModuleNotFoundError: No module named 'psycopg2'