<h1>Bibliotecas utilizadas</h1>

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import statistics
from sqlalchemy import create_engine
import schedule 
import time

<h1>Dataframe não Processado</h1>

In [2]:
j=pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')
j

       ordem  linha  latitude  longitude  velocidade             dataHora
0     D87742   2336 -22.91878  -43.60768          38  08-10-2022 01:59:38
1     B10061        -22.81502  -43.18723           0  08-10-2022 05:42:37
2     B31120    483 -22.80468  -43.30954           0  08-10-2022 06:02:52
3     C13039    878 -22.87959  -43.35679           0  08-10-2022 06:30:52
4     A29030  SP513 -22.95828  -43.58080          34  08-10-2022 06:59:44
...      ...    ...       ...        ...         ...                  ...
3600  B11686    362 -22.82677  -43.33872           0  08-10-2022 16:14:12
3601  B11509    363 -22.89590  -43.30145           0  08-10-2022 16:14:13
3602  B11574    363 -22.91110  -43.23400           0  08-10-2022 16:14:13
3603  B11581    363 -22.90258  -43.26671           0  08-10-2022 16:14:13
3604  B11703    652 -22.88171  -43.32523           0  08-10-2022 16:14:13

[3605 rows x 6 columns]

<h1>Pré-Processamento</h1>

In [3]:
## Dataframe Original
json = pd.read_json('https://jeap.rio.rj.gov.br/dadosAbertosAPI/v2/transporte/veiculos/onibus2')

#Removendo campos em branco
nan_value = float("NaN")
json.replace("", nan_value, inplace=True)
json.dropna(subset = ["linha"], inplace=True)
json['codigoempresa']=json['ordem'].str.slice(1,4)

# Etapa de construção do novo dataframe

ordem=json['ordem']
linha=json['linha']

empresa=[        "Transportes Paranapuan S/A" if s>="100" and s<"105" else
                  "Viação Penha Rio Ltda" if s>="105" and s<"115" else
                  "Viação Vila Real S/A" if s>="115" and s<"120" else
                  "Expresso Recreio Ltda" if s>="120" and s<"125" else
                  "Viação Normandy To Triângulo Ltda" if s>="125" and s<"130" else
                  "Transportes Barra Ltda" if s>="130" and s<"170" else 
                  "Auto Viação Palmares Ltda" if s>="170" and s<"255" else
                  "Roviária Âncora Matias" if s>="225" and s<"270" else
                  "Caprichosa Auto Ônibus Ltda" if s>="270" and s<"275" else
                  "Transportes Vila Isabel S/A " if s>="275" and s<"285" else
                  "Viação Ideal S/A" if s>="285" and s<"290" else
                  "Empresa Braso Lisboa" if s>="290" and s<"300" else 
                  "Transportes Futuro Ltda" if s>="300" and s<"310" else 
                  "Viação VG Eireli ME" if s>="310" and s<"325" else 
                  "Viação Pavuenense S/A" if s>="325" and s<"410" else 
                  "Real Auto Ônibus Ltda" if s>="410" and s<"425" else 
                  "Viação Acari S/A" if s>="425" and s<"445" else 
                  "Auto Viação Três Amigos Ltda" if s>="445" and s<"475" else
                  "Viação Redentor Ltda" if s>="475" and s<"480" else
                  "Auto Viação Alpha S/A " if s>="480" and s<"500" else
                  "Tijuquinha - Auto Viação Tijuca S/A" if s>="500" and s<"515" else
                  "Viação Novacap S/A" if s>="515" and s<"535" else
                  "Transportes Campo Grande Ltda" if s>="535" and s<"580" else
                  "Viação Nossa Senhora de Lourdes Ltda" if s>="580" and s<"630" else
                  "Gire Transportes Ltda" if s>="630" and s<"710" else
                  "Viação Verdun S/A" if s>="710" and s<"715" else
                  "Viação Nossa Senhora das Graças Ltda" if s>="715" and s<"720" else
                  "Transurb S/A" if s>="720" and s<"860" else
                  "Auto Viação Jabour Ltda" if s>="860" and s<"870" else
                  "Expresso Pégasso Ltda" if s>="870" and s<"999" 
                   else "BRT Rio S.A"  for s in json['codigoempresa']
] 

codigoempresa=json['ordem'].str.slice(1,4)
latitude=json['latitude']
longitude=json['longitude']
velocidade=json['velocidade']
dataHora=json['dataHora'].astype('datetime64[ns]')

# Concatenando os campos num Dataframe Parcial, através do pandas
df2= pd.DataFrame(list(zip(ordem,linha,empresa,latitude,longitude,velocidade,dataHora)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','dataHora'])

#Ajuste de Fuso Horário através do Pandas
DataHoraOriginalChange=df2['dataHora']
df2['dataHoraBrasil']=pd.to_datetime(DataHoraOriginalChange, unit='ms').dt.tz_localize('UTC').dt.tz_convert('America/Argentina/Catamarca')

#visualização Parcial do Dataframe
df2

,ordem,linha,empresa,latitude,longitude,velocidade,dataHora,dataHoraBrasil
0,D87742,2336,Expresso Pégasso Ltda,-22.91878,-43.60768,38,2022-08-10 01:59:38,2022-08-09 22:59:38-03:00
1,B31120,483,Viação VG Eireli ME,-22.80468,-43.30954,0,2022-08-10 06:02:52,2022-08-10 03:02:52-03:00
2,C13039,878,Transportes Barra Ltda,-22.87959,-43.35679,0,2022-08-10 06:30:52,2022-08-10 03:30:52-03:00
3,A29030,SP513,Empresa Braso Lisboa,-22.95828,-43.58080,34,2022-08-10 06:59:44,2022-08-10 03:59:44-03:00
4,B63077,920,Gire Transportes Ltda,-22.79258,-43.29440,5,2022-08-10 07:39:11,2022-08-10 04:39:11-03:00
...,...,...,...,...,...,...,...,...
3596,B11686,362,Viação Vila Real S/A,-22.82677,-43.33872,0,2022-08-10 16:14:12,2022-08-10 13:14:12-03:00
3597,B11509,363,Viação Vila Real S/A,-22.89590,-43.30145,0,2022-08-10 16:14:13,2022-08-10 13:14:13-03:00
3598,B11574,363,Viação Vila Real S/A,-22.91110,-43.23400,0,2022-08-10 16:14:13,2022-08-10 13:14:13-03:00
3599,B11581,363,Viação Vila Real S/A,-22.90258,-43.26671,0,2022-08-10 16:14:13,2022-08-10 13:14:13-03:00
3600,B11703,652,Viação Vila Real S/A,-22.88171,-43.32523,0,2022-08-10 16:14:13,2022-08-10 13:14:13-03:00

In [4]:
#Dataframe Final 

ordemfinal=df2['ordem']
linhafinal=df2['linha']
empresafinal=df2['empresa']
latitudefinal=df2['latitude']
longitudefinal=df2['longitude']
velocidadefinal=df2['velocidade']

#Data Padrão Brasileiro
data=df2['dataHoraBrasil'].astype("string")
x=data.str.slice(0,10)
final=x.astype('datetime64[ns]')
data2=final.dt.strftime('%d/%m/%Y')

#Hora
hora=df2['dataHoraBrasil'].astype("string")
horafinal=hora.str.slice(11,19)

# Criando um Dataframe Final
dfparcial= pd.DataFrame(list(zip(ordemfinal,linhafinal,empresafinal,latitudefinal,longitudefinal,velocidadefinal,horafinal,data2)),columns=['ordem','linha','empresa','latitude','longitude','velocidade','horario','data'])
dfFinal=dfparcial.drop_duplicates(subset=['latitude','longitude'])

dfFinal

,ordem,linha,empresa,latitude,longitude,velocidade,horario,data
0,D87742,2336,Expresso Pégasso Ltda,-22.91878,-43.60768,38,22:59:38,09/08/2022
1,B31120,483,Viação VG Eireli ME,-22.80468,-43.30954,0,03:02:52,10/08/2022
2,C13039,878,Transportes Barra Ltda,-22.87959,-43.35679,0,03:30:52,10/08/2022
3,A29030,SP513,Empresa Braso Lisboa,-22.95828,-43.58080,34,03:59:44,10/08/2022
4,B63077,920,Gire Transportes Ltda,-22.79258,-43.29440,5,04:39:11,10/08/2022
...,...,...,...,...,...,...,...,...
3596,B11686,362,Viação Vila Real S/A,-22.82677,-43.33872,0,13:14:12,10/08/2022
3597,B11509,363,Viação Vila Real S/A,-22.89590,-43.30145,0,13:14:13,10/08/2022
3598,B11574,363,Viação Vila Real S/A,-22.91110,-43.23400,0,13:14:13,10/08/2022
3599,B11581,363,Viação Vila Real S/A,-22.90258,-43.26671,0,13:14:13,10/08/2022
3600,B11703,652,Viação Vila Real S/A,-22.88171,-43.32523,0,13:14:13,10/08/2022

<h1>Persistindo Postgresql</h1>

In [ ]:
def persiste_time():
    db_connection = 'postgresql://postgres:sistema18@localhost:5432/transporte_db'
    db_connection = create_engine(db_connection)
    dfFinal.to_sql(con=db_connection, name='transporte' , if_exists='append', index=False)

schedule.every(5).minutes.do(persiste_time)

while True:
    schedule.run_pending()
    time.sleep(1)